/* 
body {
    color: #212121;
    background-color: #FFFFFF;
}
 */

/* Белый #FFFFFF */
/* Серый #757575; */
/* Акцент #2196F3; */
/* Фон футера #2F303A; */
/* Фон кнопок #F5F4FA; */
:root {
    --primary-text-color: #212121;
    --tittle-text-color: #757575;
    --accent-color: #2196F3;
    --primary-wh-color: #FFFFFF;
    --bg-button-portfolio: #F5F4FA;
   
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

footer {
    background: #2F303A;
}
.contact-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contact-footer:hover,:focus {
        color: var(--accent-color)
}


.web-blue {
    color: var(--accent-color);
}

.adress-link {
    color: var(--primary-wh-color);
    font-style: normal;
}
/* Логотип */
.footer-logo {
    color: var(--primary-wh-color);
    font-family: sans-serif;
    font-size: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

.logo {
    color: var(--primary-text-color);
    font-size: 26px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
}

/* Site nav */

.nav-link {
    font-size: 14px;
    color: var(--primary-text-color);
    line-height: 16px; 
    font-weight: 500;      
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;   
}

.nav-link:hover, .nav-link:focus  {
    color: var(--accent-color);
}


.section-title {
    color: var(--primary-text-color)
}

.site-nav .nav-link.current {
    color: var(--accent-color);
}

.contact-link {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contact-link:hover,:focus {
    color: var(--accent-color)
}

/* main */

.main-title {
    color: var(--primary-wh-color);
}

.future-discription {
    color: var(--tittle-text-color);
}

.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}               

.team-position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* button */
.button {
    color: var(--primary-wh-color);
    background-color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
   
}

/* Hero */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--primary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-wh-color);
}

/* Business Solution */

/* Peculiarities (особености) */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .future-title {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}

.future-discription {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* Портфолио */

/* Button Portfolio */
.button-portfolio {
    font-family: 'Roboto';
    color: var(--primary-text-color);
    background-color: var(--bg-button-portfolio);
    cursor: pointer;
    width: 84px;
    height: 26px;
    left: 598px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.button-portfolio:hover {
    background-color: var(--accent-color)
}

.button-portfolio:focus {
    color: var(--accent-color);
}

/* Cards */
.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}
