/* 
body {
    color: #212121;
    background-color: #FFFFFF;
}
 */

/* Белый #FFFFFF */
/* Серый #757575; */
/* Акцент #2196F3; */
/* Фон футера #2F303A; */
/* Фон кнопок #F5F4FA; */
:root {
    --primary-text-color: #212121;
    --tittle-text-color: #757575;
    --accent-color: #2196F3;
    --primary-wh-color: #FFFFFF;
    --bg-button-portfolio: #F5F4FA;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    color: var(--tittle-text-color);
}

footer {
    background: #2F303A;
}

.web-blue {
    color: var(--accent-color);
}

.grey-color {
    color: var(--tittle-text-color);
}

.grey-color:hover,:focus {
    color: var(--accent-color)
}

.white-color {
    color: var(--primary-wh-color);
}
/* Логотип */
.footer-logo {
    color: var(--primary-wh-color);
    font-family: sans-serif;
    font-size: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

.logo-link {
    color: #212121;
    font-size: 26px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
}

/* Site nav */

.header-link {
    font-size: 14px;
    color: #212121;
    line-height: 16px;    
}

.header-link:hover {
    color: var(--accent-color);
}
.header-link:focus {
    color: var(--accent-color);
}

.section-title {
    color: var(--primary-text-color)
}

.site-nav .header-link.current {
    color: var(--accent-color);
}

/* main */
.main {
    background-color: #2F303A;
}
.main-title {
    color: var(--primary-wh-color);
}

/* button */
.button {
    color: var(--primary-wh-color);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
   
}

.button-portfolio {
    color: var(--primary-text-color);
    background-color: var(--bg-button-portfolio);
    cursor: pointer;
        
}

.button-portfolio:hover {
    background-color: var(--accent-color)
}

.button-portfolio:focus {
    color: var(--accent-color);
}

/* Hero */

.hero-title {
    color: var(--primary-text-color);
}

/* section */

.section-title {
    color: var(--primary-text-color); 
}